In [17]:
from luminance import *

In [18]:
video_dir = "/home/paradeisios/Documents/GITLAB/luminance/example/test.mp4"
work_dir = "/home/paradeisios/Documents/GITLAB/luminance/example/"

In [15]:
# The main idea is very simple
# 1. Create a luminance object that contains the video info

lum = Luminance(video_dir)

In [10]:
# 2. Partion the video into frames and save output into work folder

lum.frame_partion(work_dir)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=151.0), HTML(value='')))

In [11]:
# 3. Calucate the mean grayscale luminance of each frame 
# Default method is weighted, linear combination of pixel intensities

lum.calculate_global_luminance(work_dir,save_txt=True)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=151.0), HTML(value='')))

         global
0    204.554717
1    204.051021
2    204.049339
3    204.153288
4    204.258141
..          ...
146  204.886673
147  204.883010
148  204.885053
149  204.885436
150  204.865537

[151 rows x 1 columns]

In [20]:
# 4. Input pupil data for each frame and extract pupil specific frames 
# Here I am using random noise as pupil data  /// Radius of pupil-centered image needs to be specified
os.chdir("/home/paradeisios/Documents/GITLAB/luminance/example/")

x = np.random.randint(low=100,high=200,size=lum.frame_count)
y = np.random.randint(low=100,high=200,size=lum.frame_count)
r = 50

lum.local_partition(work_dir, x,y, r)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=151.0), HTML(value='')))

In [21]:
# 5. As in #3, estimate mean grayscale luminance of each frame
lum.calculate_local_luminance(work_dir,save_txt=True)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=151.0), HTML(value='')))

          local
0    204.553911
1    204.050334
2    204.048681
3    204.152671
4    204.258103
..          ...
146  204.885409
147  204.881444
148  204.883697
149  204.883980
150  204.864062

[151 rows x 1 columns]